<section class="w-full h-full grid grid-rows-[min-content_1fr]">
  <header class="flex justify-between px-2 py-4">
    <h1 class="text-slate-900 dark:text-slate-200 h1-class">{{headerName | translate}}</h1>
    <div class="flex gap-2 items-center">
      <app-custom-icon [customLeft]="-200" [customTop]="20" (click)="changeTheme()"
        [iconName]="!isLightMode ? 'invert bg-light-mode-icon' : 'invert-0 bg-dark-mode-icon'"
        [customTooltip]="'GLOBAL.THEME.' + (!isLightMode ? 'CHANGE-LIGHT-MODE' : 'CHANGE-DARK-MODE') | translate"
        imageClass="h-[1.5rem] w-[1.5rem] xl:h-[2rem] xl:w-[2rem] cursor-pointer bg-cover"></app-custom-icon>
      <app-custom-select [options]="languages" [labelIcon]="currentLanguage.logo" (selectedOption)="changeLanguage($event)"
         [hideLabelOnMobile]="true" [label]="'HOME.LANGUAGE.' + currentLanguage.value.toUpperCase()"></app-custom-select>
    </div>
  </header>
  <article class="h-full overflow-hidden">
    <router-outlet></router-outlet>
  </article>
</section>
