<section class="custom-select" (click)="toggleSelect()">
  <div class="select-header">
    <app-custom-icon *ngIf="labelIcon" imageClass="h-[1rem] w-[1.5rem] bg-cover" [iconName]="labelIcon"></app-custom-icon>
    <p>{{ label | translate }}</p>
    <ng-container *ngIf="!menuOpen; else collapse"><app-custom-icon iconName="bg-expand-icon"></app-custom-icon></ng-container>
    <ng-template #collapse><app-custom-icon iconName="bg-minimize-icon"></app-custom-icon></ng-template>
  </div>
  <ul class="select-menu" *ngIf="menuOpen">
    <li class="select-option" *ngFor="let option of options" (click)="selectOption(option)">
      <figure *ngIf="option.icon"><div class="h-[1rem] w-[1.5rem] bg-cover" [class]="option.icon"></div></figure>
      <p>{{ option.name | translate}}</p>
    </li>
  </ul>
</section>
